{% extends 'base.html.twig' %}

{% block title %}Connecté !{% endblock %}

{% block body %}
<form method="post" style="height: auto; border: 2px solid white; border-radius: 10px; padding: 20px; font-size: 20px; margin-top : 15px">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que {{ app.user.userIdentifier }}
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
    <label for="inputUsername">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
<br>
    <label for="inputPassword">Mot de Passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
<br>
    <button class="btn btn-lg btn-primary" type="submit">
        Se Connecter
    </button>

    <button class="btn">
        <a href="{{ path('app_forgot_password_request') }}" style="text-decoration: none; color: inherit;">Mot de Passe oublié</a>
    </button>
</form>
{% endblock %}
