{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div style="border: 2px solid white; border-radius: 10px; padding: 20px; font-size: 20px;">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 style="font-size: 35px; display: flex; justify-content: center;">S'Inscrire</h1>

        <p style="color: red;">* Le champ Mot de Passe doit contenir au moins <strong>12 caractères</strong> avec
            <strong>1 lettre Majuscule, 1 minuscule, 1 caractère spéciale et 1 Chiffre</strong></p>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            <div>
                {{ form_row(registrationForm.username, {
                    label: 'Pseudo'
                }) }}
            </div>
            <br>
            <div>
                {{ form_row(registrationForm.email, {
                    label: 'Email'
                }) }}
            </div>
            <br>
            <div>
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
            </div>
            <br>
            <div>
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <br>
            <div class="button-container" style="display: flex; justify-content: space-between;">
                <button type="submit" class="btn" style="font-size: 20px; width: 100%;">S'Inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
      
    </div>
{% endblock %}
