<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!--
    <meta name="descriptiongoogle" content="Blog pour les passionnés de l'aviation">
    <meta name="keywords" content="AeroClubBlog"
-->
    
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <script src="https://kit.fontawesome.com/b04d3e51a0.js" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            font-family: Oswald;
        }
        #ONGLET {
            width: 100%;
            background-color: #5ED9F4;
        }
        #content {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        footer {
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            background-color: #5ED9F4;
            align-items: center;
            font-size: 18px;
        }
        .fa.fa-linkedin-square:before {
            content: "\f08c";
            color: blue;
        }

        .hamburger {
            display: none;
            font-size: 30px;
            cursor: pointer;
            color: white;
            background-color: #5ED9F4;
            border: none;
            padding: 10px;
            margin: 10px;
        }

        .menu-toggle {
            display: none;
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            list-style-type: none;
            justify-content: space-around;
            margin: 0;
            align-items: center;
        }

        .nav-links li {
            position: relative;
        }

        .nav-links li ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #5ED9F4;
            padding: 0;
            list-style-type: none;
            min-width: 150px;
        }

        .nav-links li:hover > ul {
            display: block;
        }

        .nav-links li ul li {
            width: 100%;
        }

        .nav-links li ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
        }

        .nav-links li ul li a:hover {
            background-color: #b3f0ff;
        }

        /* MEDIA QUERIES - de 768 pxl */
        @media all and (max-width: 768px) {
            .nav-links {
                display: none;
                flex-direction: column;
                width: 100%;
                padding: 0;
            }

            .hamburger {
                display: block;
            }

            .menu-toggle:checked + .hamburger + .nav-links {
                display: flex;
            }

            .nav-links li {
                width: 100%;
                text-align: center;
                margin: 10px 0;
            }

            .nav-links li ul {
                position: relative;
                top: 0;
                left: 0;
                background-color: transparent;
            }

            .nav-links li ul li a {
                padding: 5px 10px;
            }

            .nav-links li ul li a:hover {
                background-color: transparent;
            }

        }


        /* MEDIA QUERIES - de 425 pxl */
        @media all and (max-width: 425px) {
            footer {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;
            }

            body > footer > ul{
                text-align: center;
                padding: 0;
                margin: 0;
                
            }

            
        }


    </style>
</head>
<body>
    <nav id="ONGLET">
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <ul class="nav-links">
            <li><img src="uploads/images/aeroclublogo.png" style="height: 80px; width: 100px;"></li>
            <li><a href="{{ path('Accueil') }}" style="text-decoration: none;">Aeroclub</a></li>
            
            <li>
                <a href="#" style="text-decoration: none;">Listes</a>
                <ul>
                    <li><a href="{{ path('app_liste_categorie') }}" style="text-decoration: none;">Liste des Categories</a></li>
                    <li><a href="{{ path('app_liste_article') }}" style="text-decoration: none;">Liste des Articles</a></li>
                    <li><a href="{{ path('afficher_les_posts') }}" style="text-decoration: none;">Liste des Posts</a></li>
                </ul>
            </li>
            {% if not app.user %}
                <li><a href="{{ path('RegistrationFormType') }}" style="text-decoration: none;">S'Inscrire</a></li>
                <li><a href="{{ path('app_login') }}" style="text-decoration: none;">Se Connecter</a></li>
                <li><a href="{{ path('app_forgot_password_request') }}" style="text-decoration: none;">Mot de Passe oublié</a></li>
            {% else %}
            <li>
                <a href="#" style="text-decoration: none;">Ajout</a>
                <ul>
                    <li><a href="{{ path('app_ajout_categorie') }}" style="text-decoration: none;">Ajout d'une Catégorie</a></li>
                    <li><a href="{{ path('app_ajout_article') }}" style="text-decoration: none;">Ajout d'un Article</a></li>
                </ul>
            </li>
                <li><a href="{{ path('app_logout') }}" style="text-decoration: none;">Déconnexion</a></li>
                <li><a href="{{ path('app_mes_categories') }}" style="text-decoration: none;">Mes Categories</a></li>
                <li><a href="{{ path('app_mes_articles') }}" style="text-decoration: none;">Mes Articles</a></li>
                <li><a href="{{ path('app_mes_posts') }}" style="text-decoration: none;">Mes Posts</a></li>
                <li><a href="{{ path('app_creer_un_post') }}" style="text-decoration: none;">Lancer un Post</a></li>
                <li><a href="{{ path('app_user_delete') }}" style="text-decoration: none;">Supprimer mon Compte</a></li>
            {% endif %}
        </ul>
    </nav>

    <div id="content">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <ul>
            <a href="https://www.linkedin.com/in/abdullrahman-al-karshi-a11b7b204/">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
        </ul>
        <li>&copy; Copyright 2024</li>
        <li><a href="https://portfolio-alkarshi-abdullrahman.alwaysdata.net/" style="text-decoration: none;">Portfolio du créateur</a></li>
    </footer>
</body>
</html>
