{% extends 'base.html.twig' %}

{% block body %}
<br>
    <h1 style="box-shadow: 15px 1px 35px #5ED9F4; padding:15px 15px;">Liste de mes catégories</h1>

    {% if categories is empty %}
        <p>Aucune catégorie n'a été créée pour le moment.</p>
        <p>Vous pouvez créer une nouvelle categorie<a href="{{ path('app_ajout_categorie') }}"> ici</a>.</p>
    
        <img src="{{ asset('uploads/images/logoaeroclubdefrance.jpeg') }}" 
        alt="Avion posé sur piste" 
        style="max-width: 70%; height: auto;">

       

        {% else %}
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Nom des Catégories</th>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 8px;">{{ categorie.name }}</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 8px; display: inline-flex;">
                            <form method="post" action="{{ path('app_suppression_categorie', {'id': categorie.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette catégorie ?');" style="margin-right: 10px;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>

                            <form method="post" action="{{ path('app_modification_categorie', {'id': categorie.id}) }}" onsubmit="return confirm('Voulez-vous vraiment modifier cette catégorie ?');">
                                <input type="hidden" name="_method" value="EDIT">
                                <button class="btn btn-primary">Editer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
