{% extends 'base.html.twig' %}

{% block body %}
<br>
    <h1 style="box-shadow: 15px 1px 35px #5ED9F4; padding:15px 15px;" >Liste de mes articles</h1>

    <!-- Si Listes des Article est vide alors affiche ceci -->
    {% if articles is empty %}
        <p>Aucun article n'a été créé pour le moment.</p>
        <p>Vous pouvez créer un nouvelle article<a href="{{ path('app_ajout_article') }}"> ici</a>.</p>
        <img src="{{ asset('uploads/images/logoaeroclubdefrance.jpeg') }}" 
        alt="Avion posé sur piste" 
        style="max-width: 70%; height: auto;">

        <br> 
        
    
    {% else %}

        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Titre</th>
                    <th style="border-bottom: 1px solid #ddd; padding: 8px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td style="border-bottom: 1px solid #ddd; padding: 8px;">{{ article.title }}</td>
                        <td style="border-bottom: 1px solid #ddd; padding: 8px; display: inline-flex;">
                            <form method="post" action="{{ path('app_suppression_article', {'id': article.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');" style="margin-right: 10px;">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>

                            <form method="post" action="{{ path('app_modification_article', {'id': article.id}) }}" onsubmit="return confirm('Voulez-vous vraiment modifier cet article ?');">
                                <input type="hidden" name="_method" value="EDIT">
                                <button class="btn btn-primary">Editer</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
