{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>
    <table style="font-size: 20px; width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="padding: 10px; border: 1px solid #ddd;">Pseudo</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Email</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Rôle</th>
                <th style="padding: 10px; border: 1px solid #ddd;">Vérifié</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th style="padding: 10px; border: 1px solid #ddd;">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr {% if loop.index is odd %}style="background-color: #5ED9F4;"{% endif %}>
                   
                    <td style="padding: 10px; border: 1px solid #ddd;">
                         {{ user.username }}</a>
                    </td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ user.email }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ user.roles|join(', ') }}</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                    <!-- Seulement si Role est admin et si c'est le cas enleve btn supprimer-->
                    {% if is_granted('ROLE_ADMIN') and not ('ROLE_ADMIN' in user.roles) %}
                        <td style="padding: 10px; border: 1px solid #ddd;">
                            <form method="post" action="{{ path('app_ADMIN_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
