{# templates/admin/liste_articles.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
<h1>Liste des Articles</h1>

<table style="font-size: 20px; width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
        <tr style="background-color: #f2f2f2;">
            <th style="padding: 10px; border: 1px solid #ddd;">Utilisateur</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Titre</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Date de Création</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Catégorie</th>
            <th style="padding: 10px; border: 1px solid #ddd;">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr {% if loop.index is odd %}style="background-color: #5ED9F4;" {% endif %}>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ article.user.username }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ article.title }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ article.creationDate|date('d-m-Y H:i') }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">{{ article.categorie.name }}</td>
                <td style="padding: 10px; border: 1px solid #ddd;">
                    <form action="{{ path('app_delete_article', {'id': article.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet article ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button type="submit" style="background-color: red; color: white; border: none; padding: 10px; cursor: pointer;">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
